# .dockerignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.DS_Store
.git/
.gitignore
instance/*.db
*.log
test/
tests/
.vscode/
.idea/
node_modules/
*.zip
*.tar.gz
*.pdf  # Don't include PDFs in Docker image
serviceAccountKey.json  # We'll use secret instead